<h1>Form page</h1>

<p><a href="/results"> Results Page</a></p>

<form action="/getdata">
    <label>
        First Name: 
        <input type="text" name="fname" autocomplete="off">
    </label>
    <br>
    <label>
        Last Name: 
        <input type="text" name="lname" autocomplete="off">
    </label>
    <br>
    <label>
        Age: 
        <input type="text" name="age" autocomplete="off">
    </label>
    <br>
    <label>
        Is Alive:
        <input type="radio" name="isAlive" value="alive">Alive
        <input type="radio" name="isAlive" value="dead">Deceased
        
    </label>
    <button type="submit">Submit</button>

</form>