<%- include('partials/header', {title: "Contact"}) %>

<form class="mx-auto" style="width: 700px;">
    Got suggestions on new donut flavors? Shoot us a message.
    <br>
    <textarea class="mt-2 mb-2"rows = "4" cols = "100">
    </textarea>
    <br>
    <input type = "submit"/>
 </form>

<%- include('partials/footer') %>