
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/home">Home</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/about">About</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/contact">Contact</a></li>
    </ol>
</nav>