  a {
    margin: 1%;
  }
  
  h1,
  h2 {
    text-align: center;
  }
  
  form {
    border: black 3px solid;
    width: 50%;
    margin: 0 auto;
  }
  
  input {
    display:block;
    width: 75%;
  }
  
  button {
    margin: 1%;
    background-color: lightgreen;
  }
  
  p {
    text-align: center;
  }
  
  .card {
    box-shadow: 3px 3px 10px black;
    width: 300px;
    height: 100px;
  }